<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="login.css" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Amarante|Josefin+Slab:300,400,700&display=swap" rel="stylesheet" type="text/css">
    <title>Scroll - Login</title>
</head>
<body>
    <div class="container">
        <h2>Scroll</h2>
        <form method="POST" action="/login">
            <input type="text" name="username" title="username" placeholder="Enter Username">
            <input type="password" name="password" title="password" placeholder="Enter Password">
            <button type="submit" class="login">Login</button>
            <a href="/signup" class="forgot">Not a member? Sign Up</a>
        </form>
    </div>
</body>
</html>