<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration result</title>
    <link rel="stylesheet" href="regsuccess.css" type="text/css">
</head>
<body>
    <div id="container">
        <h2><%= message.post_value %></h2>
        <p><%= message.msg %> </p>
        <a href = <%= message.link %> class="forgot">Click here to proceed</a>
    </div>
</body>
</html>