<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="signup.css">
    <link href="https://fonts.googleapis.com/css?family=Amarante|Josefin+Slab:300,400,700&display=swap" rel="stylesheet">
    <title>Scroll - Sign Up</title>
</head>
<body>
    <div class="container">
        <div class="left-half">
            <h2>Scroll</h2>
            <form action="signup" method="POST">
                <input type="text" title="Firstname" placeholder="First name" name="fname">
                <input type="text" title="lastname" placeholder="Last name" name="lname">
                <input type="text" title="Username" placeholder="Username" name="uname">
                <input type="password" title="password" placeholder="Password" name="pass">
                <input type="password" title="confirm password" placeholder="Confirm Password">
                <input type="email" title="email" placeholder="E-mail" name="email">
                <button type="submit" class="register">Sign Up</button>
            </form>
            <a href="/login" class="forgot">Already a member? Sign In</a>
        </div>
        <div class="right-half"></div>
    </div>
</body>
</html>