body
{
    background: linear-gradient(to right, #20002c, #cbb4d4);
}

#container
{
    width: 40%;
    background-color: rgba(0, 0, 0, 0.47);
    color: whitesmoke;
    min-width: 320px;
    max-width: 475px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    box-shadow: 0px 2px 2px 3px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

h2
{
    display: block;
    text-align: center;
    font-size: 2em;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    padding: 1em 1em 0em 1em;
    margin: 0;
}

p
{
    display: block;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: silver;
}

.forgot
{
    color:silver;
    line-height: 1.5em;
    font-size: 1em;
    display: block;
    position: relative;
    padding: 0.5em 1em 1.5em 1em;
    text-align: center;
}

.forgot:hover
{
    color: whitesmoke;
}